.apie-mane {
    min-height: 95vh;
    max-height: fit-content;
    background: rgba(245, 245, 245, 0.205);
    text-align: center;
    p{
        font-size: 1rem;
        font-weight: 600;
    }
    
}