#my-work {
  height: fit-content;
  width: 90vw;
  border-radius: 7px;
  // background: #abbaab; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #ffffff,
  //   #abbaab
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #ffffff,
  //   #abbaab
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // box-shadow: 5px 3px 13px 0px rgba(50, 50, 50, 0.48);

  padding: 2rem;
  margin-bottom: 1rem;
  h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  a {
    text-decoration: none;
    font-size: xx-large;
  }
  #samples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    grid-gap: 1rem;
    .one-sample {
      border-radius: 10px;
      height: 60vh;
      padding: 1rem;
      border: solid #96c93d;
      background-color: whitesmoke;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
    }

    .work-sample {
      display: flex;
      flex-direction: column-reverse;
      text-align: end;
      height: 30vh;
      width: 27vw;
      // background-color: rgba(153, 205, 50, 0.362);
      h3 {
        padding-right: 1rem;
      }
    }
  }
}

#work-sign {
  display: flex;
  justify-content: space-between;
}

.work-img {
  img {
    height: 100%;
    width: auto;
  }
}

#job1 {
  background-image: url(/img/minant.lt.jpg);
  background-position: center;
  background-size: cover;
  transition: ease-in-out;
  a {
    z-index: 1;
  }
}

#job1:hover {
  background-image: url(/img/minant.lt2.jpg);
}

#job2 {
  background-image: url(/img/ran.jpg);
  background-position: center;
  background-size: contain;
  transition: ease-in-out;
}

#job3 {
  background-image: url(/img/dviratis.club.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}
#job3:hover {
  background-image: url(/img/dviratis.club2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job4 {
  background-image: url(/img/dviratis.info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out;
}
#job4:hover {
  background-image: url(/img/dviratis.info2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out;
}

#job4 {
  background-image: url(/img/dviratis.info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}
#job4:hover {
  background-image: url(/img/dviratis.info2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job5 {
  background-image: url(/img/NC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;

  i {
    opacity: 0.7;
  }
  h4 {
    opacity: 0.7;
  }
}
#job5:hover {
  background-image: url(/img/nc2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job6 {
  background-image: url(/img/Prekiu-webapp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;

  i {
    opacity: 0.7;
  }
  h4 {
    opacity: 0.7;
  }
}
#job6:hover {
  background-image: url(/img/Prekiu-webapp3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

.fa-sass {
  color: #ce679a;
}
.fa-html5 {
  color: #e54c21;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-wordpress {
  color: #007095;
}
.elm {
  color: #99003a;
}
.woo {
  color: #7b51ad;
}

.smpl.hidden {
  opacity: 0;
}
