.project-info.hidden {
  opacity: 0;
  cursor: default;
}

.project-info {
  position: absolute;
  width: 40%;
  height: 60%;
  background-color: whitesmoke;
  transition: opacity ease-in-out;
  img {
    height: 45%;
    width: auto;
  }
}

.info {
  z-index: 1;
}
