.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-column {
  flex-direction: column;
}

.fa-sass {
  color: #ce679a;
}
.fa-html5 {
  color: #e54c21;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-wordpress {
  color: #007095;
}
.elm {
  color: #99003a;
}
.woo {
  color: #7b51ad;
}
.fa-bootstrap {
  color: #7410F0;
}
