* {
  padding: 0;
  margin: 0;
}

body {
  background: #00b09b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  margin-top: 5rem;
  height: 100vh;
  width: 95vw;
  border-radius: 7px;
}
header h1 {
  font-size: 5rem;
  font-family: "Style Script", cursive;
}
header i {
  color: chocolate;
}

#main-txt {
  display: flex;
  flex-direction: column;
}
#main-txt h2 {
  text-align: center;
}
#main-txt a {
  margin-left: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-column {
  flex-direction: column;
}

#my-work {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
  border-radius: 7px;
  padding: 2rem;
  margin-bottom: 1rem;
}
#my-work h2 {
  font-size: 2rem;
  padding: 1rem;
}
#my-work a {
  text-decoration: none;
  font-size: xx-large;
}
#my-work #samples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}
#my-work #samples .one-sample {
  border-radius: 10px;
  height: 60vh;
  padding: 1rem;
  border: solid #96c93d;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
#my-work #samples .work-sample {
  display: flex;
  flex-direction: column-reverse;
  text-align: end;
  height: 30vh;
  width: 27vw;
}
#my-work #samples .work-sample h3 {
  padding-right: 1rem;
}

#work-sign {
  display: flex;
  justify-content: space-between;
}

.work-img img {
  height: 100%;
  width: auto;
}

#job1 {
  background-image: url(/img/minant.lt.jpg);
  background-position: center;
  background-size: cover;
  transition: ease-in-out;
}
#job1 a {
  z-index: 1;
}

#job1:hover {
  background-image: url(/img/minant.lt2.jpg);
}

#job2 {
  background-image: url(/img/ran.jpg);
  background-position: center;
  background-size: contain;
  transition: ease-in-out;
}

#job3 {
  background-image: url(/img/dviratis.club.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job3:hover {
  background-image: url(/img/dviratis.club2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job4 {
  background-image: url(/img/dviratis.info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out;
}

#job4:hover {
  background-image: url(/img/dviratis.info2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out;
}

#job4 {
  background-image: url(/img/dviratis.info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job4:hover {
  background-image: url(/img/dviratis.info2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job5 {
  background-image: url(/img/NC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}
#job5 i {
  opacity: 0.7;
}
#job5 h4 {
  opacity: 0.7;
}

#job5:hover {
  background-image: url(/img/nc2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

#job6 {
  background-image: url(/img/Prekiu-webapp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}
#job6 i {
  opacity: 0.7;
}
#job6 h4 {
  opacity: 0.7;
}

#job6:hover {
  background-image: url(/img/Prekiu-webapp3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-in-out;
}

.fa-sass {
  color: #ce679a;
}

.fa-html5 {
  color: #e54c21;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-wordpress {
  color: #007095;
}

.elm {
  color: #99003a;
}

.woo {
  color: #7b51ad;
}

.smpl.hidden {
  opacity: 0;
}

#languages {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#languages .lang {
  background-color: azure;
  border-radius: 15px;
  margin: 5rem;
  padding: 1rem;
  height: 25vh;
}

.project-info.hidden {
  opacity: 0;
  cursor: default;
}

.project-info {
  position: absolute;
  width: 40%;
  height: 60%;
  background-color: whitesmoke;
  transition: opacity ease-in-out;
}
.project-info img {
  height: 45%;
  width: auto;
}

.info {
  z-index: 1;
}/*# sourceMappingURL=style.css.map */