.container {
  background: rgb(0, 87, 183);
  background: linear-gradient(
    180deg,
    rgba(0, 87, 183, 0.8) 48%,
    rgba(255, 215, 0, 0.8) 52%
  );
}

.text {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 215, 0, 0.8);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.text2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 87, 183, 0.8);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
