html {
  scroll-behavior: smooth;
}

:root {
  --light: #eaeef3;
  --dark: #121212;
  --text-light-theme: #333d51;
  --text-dark-theme: #c4c4c4;
  --link-light-theme: #4caf50;
  --link-dark-theme: #c38fff;
}

/* Light theme */
body {
  background: var(--light);
}
body .text-primary {
  color: var(--text-light-theme);
}
body a {
  color: var(--link-light-theme);
}

body .link-color {
  color: var(--link-light-theme);
}

/* dark theme */
body .dark {
  background: var(--dark);
  color: var(--text-dark-theme);
}

body .dark .text-primary {
  color: var(--text-dark-theme);
}

body .dark img {
  opacity: 0.8;
}

body .dark a {
  color: var(--link-dark-theme);
}

body .dark .link-color {
  color: var(--link-dark-theme);
}

.container-background {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
  font-size: 2rem;
  font-family: "Pushster", cursive;
}
