html {
  scroll-behavior: smooth;
}

:root {
  --light: #7dc54c;
  --dark: #174417;
  --text-light-theme: #333d51;
  --text-dark-theme: rgb(192, 189, 189);
  --link-light-theme: blue;
  --link-dark-theme: rgb(70, 112, 204);
}

body .dark {
  background-color: var(--dark);
  color: var(--text-dark-theme);
}

body .dark .text-primary {
  color: var(--text-dark-theme);
}

body .dark img {
  opacity: 0.8;
}

body .dark a {
  color: var(--link-dark-theme);
}

body {
  background-color: var(--light);
}
body .text-primary {
  color: var(--text-light-theme);
}
body a {
  color: var(--link-light-theme);
}

.container-background {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-color {
  color: #d3ac2b;
}

.text-color-secondary {
  color: #333d51;
}

.background-color-secondary {
  color: #f4f3ea;
}

.landing-heading-text {
  font-size: xx-large;
  font-family: "Pacifico", cursive;
  color: #333d51;
}
